{% extends "base.html" %}

{% block title %}Про Розробника{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/styles/styles_we.css">

<div class="dev-container">
    <h1 class="dev-title">📂 Особова справа: Розробник</h1>

    <div class="dev-card">
        <h2>Орлик Дмитро Олександрович</h2>
        <p><strong>Дата народження:</strong> 8 листопада 2009</p>
        <p><strong>Місто народження:</strong> Хуст, Закарпаття</p>
        <p><strong>Цікавиться:</strong> футболом, комп'ютерними іграми, програмуванням</p>
        <p><strong>Переїзд:</strong> У 2022 році переїхав до м. Родевіш, Німеччина</p>
        <p><strong>Команда:</strong> Грає у VfB Lengenfeld з 2023</p>
        <p><strong>Початок програмування:</strong> у 14 років почав свою кар'єру в GoITeens</p>
    </div>

    <div class="dev-footer">
        <code>CS Wiki Access | Авторизовано: Dmytro Orlyk 🟡</code>
    </div>

    <div class="dev-card">
        <h2>Харченко Микола Андрійович</h2>
        <p><strong>Дата народження:</strong> 19 грудня 2009</p>
        <p><strong>Місто народження:</strong>Харків</p>
        <p><strong>Цікавиться:</strong> баскетбол, комп'ютерними іграми, програмуванням</p>
        <p><strong>Переїзд:</strong> У 2018 переїхав у Тернопіль</p>
        <p><strong>Команда:</strong> Грає у ТНЕУ з 2021</p>
        <p><strong>Початок програмування:</strong> у 14 років почав свою кар'єру в GoITeens</p>
    </div>

    <div class="dev-footer">
        <code>CS Wiki Access | Авторизовано: Mykola Harchenko 🟡</code>
    </div>
</div>
{% endblock content %}