{% extends "base.html" %}

{% block title %}{{ name_restaurant }}{% endblock title %}

{% block content %}
<link rel="stylesheet" href="/static/styles/styles_login.css">
<div class="center-container">
    <form method="post" class="login-form">
        <h2>Вхід</h2>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <label>Ім'я користувача:</label>
        <input type="text" name="username">
        <label>Пароль:</label>
        <input type="password" name="password">
        <input type="submit" value="Ввійти">
    </form>
</div>
{% endblock %}